/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* default layout */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    /* background-color: #00a700; */
    background: url(../images/pexels-chan-walrus-958545\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h3, h2 {
    font-size: 2em;
}

#quiz-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.quiz-container{
    width: 800px;
    max-width: 80%;
    height: 600px;
    /* background: rgba(0, 186, 97, 0.6); */
    background: rgba(237, 231, 225, 0.6);
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    box-shadow: 0 0 10px 2px;
    display: grid;
    justify-content: center;
    align-items: center;
}

#homepage-container {
    justify-content: center;
    align-items: center;
    text-align: center;
}

#homepage-container h2 {
    font-size: 2.5em;
}

#homepage-container h3 {
    font-size: 1.5em;
}

/* HUD style */

#hud {
    display: none;
    justify-content: space-evenly;
}

.hud-prefix {
    color: black;
    font-size: 120%;
}

/* #quiz-section {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#category-pick {
    display: none;
}

#question-area {
    display: none;
}

#question-text {
    font-size: 150%;
    font-weight: 700;
    text-align: center;
}

#final-score {
    display: none;
}

#feedback {
    color: black;
    font-size: 150%;
    text-align: center;
}

/* #score {
    display: none;
} */

/* Header */

header {
    /* max-width: 50%; */
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgba(237, 231, 225, 0.6);
    border-bottom: 1px solid black;
    box-shadow: 0 0 10px 2px;

}

header>a {
    text-decoration: none;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 60px;
    font-weight: 500;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #00a700, 0px 0px 10px #00a700, 0px 0px 10px #00a700,
      0px 0px 20px #00a700;
  }
/* d3d093 */
/* Footer */

footer {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

li {
    display: inline;
    padding-right: 20px ;
}

.social-networks i, a, p {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}

/* Style to hide elements */

.hide {
    display: none;
}

/* buttons style */

button {
    color: white;
    background-color: #00ba61;
    font-size: 110%;
    border: 1px solid;
    width: 200px;
    min-height: 55px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
}

button:hover {
    color: #0dd7e9;
    background-color: white;
}

button > i {
    padding-right: 10px;
}

#play-again, #results, #next-question {
    background-color: white;
    color: #00ba61;
}

#play-again:hover, #results:hover, #next-question:hover {
    background-color: #00ba61;
    color: white;
}

/* modal - mostly taken from W3 Schools from link: https://www.w3schools.com/howto/howto_css_modals.asp */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    color: white;
    background-color: #00ba61;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #00ba61;
    border-radius: 10px;
    width: 40%;
    height: 425px;
}

.modal-text {
    clear: both;
    padding-top: 20px;
    font-size: 120%;
    text-align: center;
}

.modal-text>h3 {
    margin-bottom: 0;
}

.modal-text>ol {
    display: grid;
}

.modal-text i {
    padding-right: 20px;
}
/* close, close:hover, and close:focus code mostly taken from W3 Schools site on modal windows: https://www.w3schools.com/howto/howto_css_modals.asp */

.close {
    color: white;
    float: left;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}