/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/* default layout */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

/* Body */
body {
    font-family: 'Ubuntu', sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: url(../images/pexels-chan-walrus-958545\ \(1\).jpg);
    background-repeat: no-repeat;
}

h3, h2 {
    font-size: 2em;
}

/* Quiz containers and section */
#quiz-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.quiz-container{
    width: 800px;
    max-width: 80%;
    height: 660px;
    background: rgba(237, 231, 225, 0.6);
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    box-shadow: 0 0 10px 2px;
    display: block;
    justify-content: center;
    align-items: center;
}

#homepage-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}

#homepage-container h2 {
    font-size: 2.5em;
    padding-bottom: 20px;
}

#homepage-container h3 {
    font-size: 1.5em;
}

#category-pick h3 {
    padding: 30px 0;
}

/* HUD style */

#hud {
    display: none;
    justify-content: space-evenly;
    padding: 30px 0;
}

.hud-prefix {
    color: black;
    font-size: 120%;
}

#category-pick {
    display: none;
    text-align: center;
}

#question-area {
    display: none;
}

#question-text {
    font-size: 150%;
    font-weight: 700;
    text-align: center;
}

#final-score {
    display: none;
    text-align: center;
    margin-top: 150px;
}

#feedback {
    color: black;
    font-size: 150%;
    text-align: center;
    padding-top: 30px;
}

/* Header */

header {
    padding: 20px;
    background: rgba(237, 231, 225, 0.6);
    border-bottom: 1px solid black;
    box-shadow: 0 0 10px 2px;

}

header>a {
    text-decoration: none;
    text-align: center;
    color: white;
}

header h1 {
    font-size: 60px;
    font-weight: 500;
    color: #00ba61;
    text-shadow: 0px 0px 5px black, 0px 0px 10px black, 0px 0px 10px black,
      0px 0px 20px black;
  }

  /* Footer */

footer {
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

li {
    display: inline;
    padding-right: 20px ;
}

.social-networks i, a, p {
    text-decoration: none;
    color: white;
    padding-bottom: 10px;
}

/* Style to hide elements */

.hide {
    display: none;
}

/* buttons style */

button {
    color: white;
    background-color: #00ba61;
    font-size: 110%;
    border: 1px solid;
    width: 200px;
    min-height: 55px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
}

button:hover {
    color: #0dd7e9;
    background-color: white;
}

button > i {
    padding-right: 10px;
}

#info-button {
    margin-top: 100px;
}

#play-again {
    margin-top: 50px;
}

#play-again, #results, #next-question {
    background-color: white;
    color: #00ba61;
}

#play-again:hover, #results:hover, #next-question:hover {
    background-color: #00ba61;
    color: white;
}

/* modal - mostly taken from W3 Schools from link: https://www.w3schools.com/howto/howto_css_modals.asp */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    color: white;
    background-color: #00ba61;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #00ba61;
    border-radius: 10px;
    width: 40%;
    height: 425px;
}

.modal-text {
    clear: both;
    padding-top: 20px;
    font-size: 120%;
    text-align: center;
}

.modal-text>h3 {
    margin-bottom: 0;
}

.modal-text>ol {
    display: grid;
}

.modal-text i {
    padding-right: 20px;
}

/* close, close:hover, and close:focus code mostly taken from W3 Schools site on modal windows: https://www.w3schools.com/howto/howto_css_modals.asp */

.close {
    color: white;
    float: left;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}

/* Media queries */

/* For screens 768px wide and down */
@media screen and (max-width: 768px) {
    .modal-content {
        width: 60%;
        height: 450px;
    }

}

/* For screens 425px wide and down */
@media screen and (max-width: 425px) {
    .modal-content {
        width: 90%;
        height: 450px;
    }

    #homepage-container h2 {
        font-size: 2em;
    }
    
    #homepage-container h3 {
        font-size: 1em;
    }
    
    button {
        font-size: 80%;
        width: 150px;
    }

    #info-button {
        margin-top: 50px;
    }    

    .quiz-container {
        height: fit-content;
        padding-bottom: 50px;
    }

    h2,h3 {
        font-size: 1.5em;
    }

    header h1 {
        font-size: 30px;
    }

    #question-text {
        padding-top: 10px;
        font-size: 100%;
    }
}
    